<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>The Home page consists of 3 links:</p>
    <ul>
        <li><a href="/store">Stores</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/managers">Managers</a></li>
    </ul>
</body>
</html>